# Collaborative Filtering for Tabelog (食べログ)

Use user ratings of selected restaurants / stores to impute missing ratings, then use the completed data to give an estimate for the overall rating, food rating, service rating, atmosphere rating, price rating, and drink rating.

Translations and columns:
- 料理・味 - Food and taste - food
- サービス - Service - service
- 雰囲気 - Atmosphere - atmosphere
- CP - Cost Performance (price) - cp
- 酒・ドリンク - Alcohol and drink - drink

In [5]:
import pandas as pd
import numpy as np

In [7]:
restaurant_data = pd.read_csv('./data/tabelog_review_data/tabelog_Bacchusのさら_review_data.csv')
restaurant_data.head()

   user_id  overall_rating  food  service  atmosphere  price  drink
0        1             4.5   4.0      5.0         4.0    5.0    4.0
1        2             4.2   4.2      4.2         3.8    4.2    4.0
2        3             5.0   NaN      NaN         NaN    NaN    NaN
3        4             3.5   NaN      NaN         NaN    NaN    NaN
4        5             4.0   NaN      NaN         NaN    NaN    NaN